* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    position: relative;
    z-index: -1;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/images/img-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}